:root {
    --background-color: #000000;
    --background-color-2: #FFFFFF;
    --color-primary: #4477CE;
    --color-text: #FFFFFF;
    --color-text-behind: #61677A;
    --color-text-focus: #D8D9DA;
    --width-max: 916px;
    --padding-horizontal: 20px;
    --padding-vertical: 40px;
    --font: 'Neuzeit Grotesk';
}

@media screen and (max-width: 600px) {
    :root {
        --width-max: 95vw;
    }
}

body {
    background: var(--background-color);
    font-family: var(--font);
    font-weight: normal;
    margin: auto;
}

a {
    text-decoration: none;
}

/** Header **/

header {
    max-width: var(--width-max);
    padding-left: var(--padding-vertical);
    padding-right: var(--padding-vertical);
    margin: auto;
    height: 5vh;
}

header, nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
}

header .nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.0rem;
    margin: 0;
    padding: 0;
}

header a {
    text-decoration: none;
    color: var(--color-text);
}

header a:hover {
    color: var(--color-primary);
}

/** Main section **/

.container {
    max-width: var(--width-max);
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
    margin: auto;
}

.centralized {
    margin: auto;
    min-width: 10px;
}

/** About page **/

.section-intro {
    width: 100vw;
    height: 95vh;
    margin: 0px;
}

.section-certifications {
    background: var(--background-color-2);
    padding-top: var(--padding-vertical);
    padding-bottom: var(--padding-vertical);
}

.section-certifications-img-1 {
    width: 20%;
    margin: auto;
    margin-left: 10px;
}

.section-certifications-img-2 {
    width: 18%;
    margin-left: 10px;
}

.section-experience {
    background: var(--background-color);
    padding-top: var(--padding-vertical);
    padding-bottom: var(--padding-vertical);
}

.about-photo img {
    border-radius: 50%;
    max-height: 270px;
    margin: auto;
    display: block;
}

.about-text {
    padding: 10px;
}

.about-text strong {
    color: var(--color-text-focus);
    font-weight: normal;
}

.text-title {
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

.text-title-h1 {
    font-weight: bold;
    font-size: 60px;
    color: var(--color-primary);
}

.text-title-h2 {
    font-size: 40px;
    color: var(--color-text);
}

.text-title-h3 {
    font-size: 20px;
}

.text {
    color: var(--color-text);
}

.text-no-focus {
    color: var(--color-text-behind);
}

.text-focus {
    color: var(--color-text-focus);
}

@media screen and (max-width: 600px) {

    .content {
        max-width: var(--width-max);
        display: block;
    }

    .section-certifications-img-1 {
        width: 45%;
        margin-left: 10px;
    }
    
    .section-certifications-img-2 {
        width: 44%;
        margin-left: 16px;
    }

    .about-photo {
        width: 45vw;
        margin: auto;
    }

    .about-photo img {
        max-height: 21vh;
    }

    .text-title-h1 {
        font-weight: bold;
        font-size: 3rem;
    }
    
    .text-title-h2 {
        font-size: 2rem;
    }
    
    .text-title-h3 {
        font-size: 1.2rem;
    }
}
